@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.cardStack {
  width: 50%;
}

.card {
  background:linear-gradient(to bottom, skyblue 60%, green 60%);
  perspective:1000px;
  width: 20vw;
  margin: 0 -10% 0 -10%;
  transform-origin: center 120%;
  transition: 1s;
  img {
    background-color: black;
    padding: .3vw;
    object-fit: cover;
    border: .5vw solid whitesmoke; 
    border-radius: 1vw; 
    width: 100%;
  }
}

.card-body {
  padding-bottom: 0 !important;
}

.card-header {
  height: 3vw;
  border: none !important;
  background: none !important;
  color:red;
  h5 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3vw;
  }
}

.card-footer {
  margin: 0 !important;
  padding: .1vw !important;
  height: 1.6vw;
  line-height: 1.6vw;
  font-family:'Arial Condensed', sans-serif;
  font-size: 1.2vw;
  font-weight:600;
  text-transform: uppercase;
  text-align:center;
  border: none !important;
  background: none !important;
  color:yellow;
}

.card:nth-of-type(5n + 1) {
  box-shadow:-20px 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-60deg) rotateZ(-40deg);
}

.card:nth-of-type(5n + 2) {
  box-shadow:-10px 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-61deg) rotateZ(-20deg) translateY(-20%);
}

.card:nth-of-type(5n + 3) {
  box-shadow:0 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-62deg) rotateZ(0deg) translateY(-30%);
}

.card:nth-of-type(5n + 4) {
  box-shadow:10px 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-61deg) rotateZ(20deg) translateY(-20%);
}

.card:nth-of-type(5n + 5) {
  box-shadow:20px 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-60deg) rotateZ(40deg);
}

.card:hover {
  box-shadow:-5px 20px 5px rgba(0,0,0,.1);
  transform:rotateX(0deg) rotateZ(0deg);
  z-index: 2;
}

/* topps 75 */

#topps75 .card {
  background:linear-gradient(to bottom, skyblue 60%, green 60%);
  perspective:750px;
}

#topps75 .photo {
  background:url('https://media2.giphy.com/media/lr7U6uBQcZzAbRu7F9/giphy.gif?cid=790b76115d24e8a34a43596259b94a52&rid=giphy.gif');
  background-size:250% 150%;
  background-position:50% 50%;
  height:260px;
  width:220px;
  top:55px;
  left:13px;
  border:2px solid black;
  box-shadow:0 0 0px 4px white;
  outline:0;
  z-index:0;
  border-radius:15px;
  filter:brightness(1.75) saturate(1.5);
}

#topps75 .overlay {
  width:50px;
  height:50px;
  border-radius:50%;
  border:2px solid black;
  box-shadow:7px 4px black;
  background:white;
  position:absolute;
  bottom:12px;
  right:15px;
  font-family:'Arial Condensed', sans-serif;
  line-height:50px;
  font-size:12px;
  font-weight:600;
  text-align:center;
  overflow:hidden;
}
#topps75 .overlay:before {
  content:'3rd Base';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:linear-gradient(-25deg, skyblue, white, skyblue);
  border-radius:50%;
  box-shadow:inset 0 0 0px 2px white;
}

#topps75 .threads:after, #topps75 .threads:before {
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  border:2px dashed red;
  border-radius:50%;  
}
#topps75 .threads:before {
  left:-2px;
  top:-80%;
}
#topps75 .threads:after {
  left:0px;
  top:70%;
}

#topps75 .name3 {
  width:100%;
  font-family: 'Sacramento', cursive;
  font-size:26px;
  font-weight:900;
  text-align:center;
  line-height:18px;
  position:absolute;
  right:0;
  bottom:75px;
  transform:rotate(-10deg);
/*   text-shadow:1px 0px skyblue; */
}
#topps75 .name2 {
  font-family: 'Luckiest Guy', cursive;
  font-size:40px;
  line-height:50px;
  font-weight:600;
  text-align:center;
  width:100%;
  letter-spacing:2px;
  position:absolute;
  color:orangered;
  text-shadow:-2px -2px black, 6px -2px black, -2px 6px black, 6px 6px black;
  right:0;
  top:0;
}
/* topps 75 */
