@font-face {
  font-family: "NimbusSans";
  src: url("../../Assets/Fonts/NimbusSans.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

$palette1: #EA752C, #563025, #CE4235, #DEC32B;
$palette2: #72BE35, #8558A1, #D2499F, #E7DAEE;
$palette3: #4941A6, #DE419F, #F1DC29, #FFD7EE;
$palette4: #4AACD6, #E87138, #E6732D, #4D1503;
$palette5: #FDF544, #DE321F, #549DD9, #FFF761;

@mixin colors($color1, $color2, $color3, $color4) {
  background: linear-gradient(to bottom, $color1 60%, $color2 60%);
  .card-header {
    color: $color3;
  }
  .card-footer {
    color: $color4;
  }
}

.cardStack {
  width: 49vw;
}

.card {
  perspective:1000px;
  width: 20vw;
  margin: 0 -6vw -6vw -6vw;
  transform-origin: center 120%;
  transition: 1s;
  img {
    background-color: rgb(41, 41, 41);
    padding: .3vw;
    object-fit: cover;
    border: .5vw solid whitesmoke; 
    border-radius: 1vw; 
    width: 100%;
  }
}

.card-body {
  padding-bottom: 0 !important;
}

.card-header {
  margin: 0;
  padding: 0;
  height: 3vw;
  border: none !important;
  background: none !important;
  h5 {
    font-family: 'NimbusSans', cursive;
    font-size: 3vw;
    text-shadow: .15vw .15vw 0 black;
    -webkit-text-stroke: .15vw black;
  }
}

.card-footer {
  margin: 0 0 0 1.4vw !important;
  padding: .1vw !important;
  height: 1.6vw;
  line-height: 1.6vw;
  font-family:'Arial Condensed', sans-serif;
  font-size: 1.2vw;
  font-weight:600;
  text-transform: uppercase;
  text-align:left;
  border: none !important;
  background: none !important;
}

.card:nth-of-type(5n + 1) {
  @include colors($palette1...);
  box-shadow:-20px 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-60deg) rotateZ(-40deg);
  margin-left: auto;
}

.card:nth-of-type(5n + 2) {
  @include colors($palette2...);
  box-shadow:-10px 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-61deg) rotateZ(-20deg) translateY(-20%);
}

.card:nth-of-type(5n + 3) {
  @include colors($palette3...);
  box-shadow:0 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-62deg) rotateZ(0deg) translateY(-30%);
}

.card:nth-of-type(5n + 4) {
  @include colors($palette4...);
  box-shadow:10px 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-61deg) rotateZ(20deg) translateY(-20%);
}

.card:nth-of-type(5n + 5) {
  @include colors($palette5...);
  box-shadow:20px 20px 5px rgba(0,0,0,.1);
  transform:rotateX(-60deg) rotateZ(40deg);
}

.card:hover {
  box-shadow: -5px 20px 5px rgba(0,0,0,.1);
  transform: rotateX(0deg) rotateZ(0deg);
  z-index: 2;
}

.player-position {
  font-family:'Arial Condensed', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  width: 5vw;
  height: 5vw;
  line-height: 5vw;
  position: absolute;
  right: 1vw;
  bottom: 1vw; 
  border: .2vw solid rgb(41, 41, 41);
  border-radius: 50%;
  background-color: whitesmoke;
  background-image: linear-gradient(120deg, white 0% 100%, rgb(204, 203, 203) 50% 100%);
  box-shadow: .5vw .3vw 0 rgb(41, 41, 41);
  overflow: hidden;
}

.player-position:before, .player-position:after {
  content: '';
  width: 5vw;
  height: 5vw;
  border: .2vw dashed red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.player-position:before {
  transform: translateY(-70%);
}

.player-position:after {
  transform: translateY(70%);
}
